@charset "utf-8";

:root {
	--swiper-theme-color: #ff0;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, table, dl, dd {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 16px;
}
a {
	text-decoration: none;
	color: #000;
}
ul, ol {
	list-style: none;
}
img {
	max-width: 100%;
	vertical-align: top;
	border: none;
}
body {
	font-family: "Roboto", "Noto Sans KR", sans-serif;
	font-size: 1em;
}
.wrapper {
	max-width: 100%;
	min-width: 320px;
}

/* step1 start page */
#start {
	position: relative;
	width: auto;
	height: 100vh;
}
#start .upper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1001;
	padding: 0 16px;
	width: 100%;
	height: 75px; /* fixed changed CSS */
	background-color: transparent;
	box-sizing: border-box;
}
#start .upper.fixed { /* fixed changed CSS */
	position: fixed;
	top: -75px;
	background-color: rgba(255,255,255,.8);
	opacity: 0;
	box-shadow: 1px 1px 6px rgba(0,0,0,.1);
}
#start .upper .tab {
	display: block;
	width: 32px;
}
#start .upper .symbol { /* fixed changed CSS */
	display: none;
	width: 34px;
}
#start .upper.fixed .symbol { /* fixed changed CSS */
	display: block;
}
#start .upper .search {
	display: block;
	width: 30px;
}
#start .signature_area {
	position: absolute;
	left: 50%;
	top: 15%;
	z-index: 1000;
	margin-left: -40%;
	width: 80%;
	text-align: center;
}
#start .signature_area .symbol {
	display: inline-block;
	padding: 0 0 12px;
}
#start .signature_area .symbol a {
	display: block;
	width: 92px;
	height: 92px;
}
#start .signature_area h1 span {
	display: block;
	margin-top: 6px;
	font-size: 14px;
	font-weight: 300;
	color: #002b41;
}
#start .signature_area h1 span.title {
	text-transform: uppercase;
	font-family: "Oswald", sans-serif;
	font-size: 22px;
}
#start .swiper-container {
	width: 100%;
	height: 100%;
}
#start .swiper-container .swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	text-align: center;
	color: #fff;
}
#start .swiper-container .swiper-slide:nth-child(2) {
	background: url(../images/slider_main1.jpg) no-repeat center center;
	background-size: cover;
}
#start .swiper-container .swiper-slide:nth-child(3) {
	background: url(../images/slider_main2.jpg) no-repeat center center;
	background-size: cover;
}
#start .swiper-container .swiper-slide:nth-child(4) {
	background: url(../images/slider_main3.jpg) no-repeat center center;
	background-size: cover;
}
#start .swiper-container .swiper-slide .description {
	margin-top: 45%;
	width: 65%;
	opacity: 0;
	transition: opacity 0.4s;
	transition-delay: 0.4s;
}
#start .swiper-container .swiper-slide.swiper-slide-active .description {
	opacity: 1;
}
#start .swiper-container .swiper-slide .description p {
	line-height: 1.8;
	font-size: 14px;
	color: #fff;
	text-shadow: 0 0 1px rgba(0,0,0,.2);
}
#start .swiper-container .swiper-slide video {
	position: absolute;
	z-index: -1;
}
#start .swiper-container .swiper-button-prev {
	left: 16px;
	width: 48px;
}
#start .swiper-container .swiper-button-prev:after {
	content: ""; /* content: "prev"; */
	display: block;
	width: 48px;
	height: 135px;
	background: url(../images/ico_arrow_left.png) no-repeat center center;
	background-size: cover;
}
#start .swiper-container .swiper-button-next {
	right: 16px;
	width: 48px;
}
#start .swiper-container .swiper-button-next:after {
	content: ""; /* content: "next"; */
	display: block;
	width: 48px;
	height: 135px;
	background: url(../images/ico_arrow_right.png) no-repeat center center;
	background-size: cover;
}
#start .mobile_menu {
	display: none;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1001;
	padding: 0 16px;
	width: 100%;
	height: 100%;
	background: rgb(0,32,48);
	background: linear-gradient(150deg, rgba(0,32,48,.8) 0%, rgba(0,32,48,1) 100%);
	box-sizing: border-box;
}
#start .mobile_menu.active {
	display: flex;
}
#start .mobile_menu .close {
	display: block;
	position: absolute;
	left: 17px;
	top: 26px;
	width: 26px;
	height: 26px;
}
#menu {
	width: 100%;
	max-height: 70vh;
	overflow-y: auto;
}
#menu > ul > li {
	padding-bottom: 12px;
	border-bottom: 1px solid rgba(255,255,255,.15);
}
#menu > ul > li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}
#menu > ul > li > a {
	display: block;
	padding-left: 14px;
	line-height: 50px;
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	box-sizing: border-box;
}
#menu > ul > li.active > a {
	font-weight: 400;
	color: #00bdfe;
}
#menu ul ul {
	display: none;
	margin-bottom: 14px;
}
#menu ul ul a {
	display: block;
	padding-left: 14px;
	line-height: 24px;
	font-size: 15px;
	color: #777;
}

@media only screen and (orientation: portrait) {
	#start .signature_area {
		top: 15%;
	}
	#start .swiper-container .swiper-slide .description p {
		display: block;
	}
}
@media only screen and (orientation: landscape) {
	#start .signature_area {
		top: 25%;
	}
	#start .swiper-container .swiper-slide .description p {
		display: none;
	}
}

/* stpe2 login page */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-weight: 300;
	color: #b0b0b0;
}
::-moz-placeholder { /* Firefox 19+ */
	font-weight: 300;
	color: #b0b0b0;
}
:-ms-input-placeholder { /* IE 10+ */
	font-weight: 300;
	color: #b0b0b0;
}
:-moz-placeholder { /* Firefox 18- */
	font-weight: 300;
	color: #b0b0b0;
}
input[type=text],
input[type=password] {
	padding: 0 20px;
	width: 100%;
	height: 65px;
	line-height: 65px;
	font-family: "Roboto", "Noto Sans KR", sans-serif;
	font-size: 15px;
	border: none;
	box-sizing: border-box;
	border-radius: 4px;
}
input[type=submit] {
	width: 100%;
	height: 65px;
	line-height: 65px;
	font-family: "Roboto", "Noto Sans KR", sans-serif;
	font-size: 17px;
	font-weight: 600;
	letter-spacing: 1px;
	background-color: rgb(1,173,253);
	background: linear-gradient(150deg, rgba(1,173,253,1) 0%, rgba(98,209,214,1) 62%, rgba(241,239,153,1) 100%);
	color: #fff;
	border: none;
	border-radius: 4px;
}
.login_area {
	/* display: flex; */
	display: none;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1001;
	padding: 0 16px;
	width: 100%;
	height: 100%;
	background-color: rgb(0,32,48);
	background: linear-gradient(150deg, rgba(0,32,48,.8) 0%, rgba(0,32,48,1) 100%);
	box-sizing: border-box;
}
.login_area .close {
	display: block;
	position: absolute;
	left: 17px;
	top: 26px;
	width: 26px;
	height: 26px;
}
.login_area .login_data {
	max-width: 320px;
	max-height: 70vh;
	overflow-y: auto;
	text-align: center;
}
.login_area .login_data .title h2 {
	line-height: 70px;
	font-size: 28px;
	font-weight: 300;
	color: #fff;
}
.login_area .login_data .title p {
	line-height: 1.8;
	font-size: 14px;
	font-weight: 100;
	color: #fff;
}
.login_area .login_data .form_area input[type=text] {
	margin-top: 50px;
}
.login_area .login_data .form_area input[type=password] {
	margin-top: 6px;
}
.login_area .login_data .form_area input[type=submit] {
	margin-top: 15px;
}
.login_area .login_data .form_area .form_button {
	margin-top: 15px;
}
.login_area .login_data .form_area .form_button li {
	display: inline-block;
}
.login_area .login_data .form_area .form_button li a {
	display: block;
	position: relative;
	padding: 0 5px;
	line-height: 1.8;
	font-size: 13px;
	font-weight: 100;
	color: #b4b4b4;
}
.login_area .login_data .form_area .form_button li a::after {
	content: "";
	display: block;
	position: absolute;
	right: -3px;
	top: 20%;
	width: 1px;
	height: 60%;
	background-color: #b4b4b4;
}
.login_area .login_data .form_area .form_button li:last-child a::after {
	display: none;
}

/* step3 introduce page */
#introduce {
	padding: 66px 16px 34px;
}
#introduce .introduce_list li {
	margin-bottom: 6px;
}
#introduce .introduce_list li:last-child {
	margin-bottom: 0;
}
#introduce .introduce_list .list {
	padding: 0 12px;
	border: 1px solid #cecece;
	box-sizing: border-box;
}
#introduce .introduce_list .list .title h3 {
	line-height: 60px;
	text-indent: 8px;
	font-size: 18px;
	font-weight: 400;
	color: #002b41;
}
#introduce .introduce_list .list .photo img {
	width: 100%;
}
#introduce .introduce_list .list .description {
	padding: 15px 0 25px;
	line-height: 1.6;
	font-size: 14px;
	color: #777;
}

/* step4 project status */
#project_status {
	padding: 34px 16px;
}
#project_status .list dl {
	display: table;
	padding: 12px 0;
	width: 100%;
	border-top: 1px solid #eaeaea;
}
#project_status .list dl dt,
#project_status .list dl dd {
	display: table-cell;
	vertical-align: middle;
}
#project_status .list dl dt {
	padding-left: 5px;
	width: 35px;
	font-size: 22px;
	color: #666;
	box-sizing: border-box;
}
#project_status .list dl dd.mon {
	position: relative;
	padding-left: 10px;
	width: 50px;
	font-size: 14px;
	color: #cecece;
	box-sizing: border-box;
}
#project_status .list dl dd.mon::after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -6px;
	width: 2px;
	height: 12px;
	background-color: #d1d1d1;
}
#project_status .list dl dd.description {
	position: relative;
}
#project_status .list dl dd.description a {
	display: block;
	position: absolute;
	left: 15px;
	top: 2px;
	width: calc(100% - 15px);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 14px;
	color: #474747;
}

/* step5 project list */
#project_list {
	padding: 22px 8px 34px;
}
#project_list .row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
#project_list .column {
	padding: 0 8px;
	width: 50%;
	box-sizing: border-box;
}
#project_list .list {
	position: relative;
	margin-top: 12px;
	overflow: hidden;
	border-radius: 4px;
	box-shadow: 0 0 2px rgba(0,0,0,.2);
}
#project_list .list .photo {
	padding-bottom: 50px;
}
#project_list .list .photo img {
	width: 100%;
	vertical-align: middle;
}
#project_list .list .description {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
#project_list .list .description a {
	display: block;
	position: relative;
	padding: 12px;
	background-color: #fff;
	box-sizing: border-box;
}
#project_list .list .description .more {
	position: absolute;
	right: 12px;
	top: 50%;
	margin-top: -5px;
}
#project_list .list .description dt {
	font-size: 13px;
	font-weight: 600;
	color: #333;
}
#project_list .list .description dd {
	font-size: 13px;
	color: #999;
}

@media only screen and (max-width: 460px) {
	#project_list .row {
		flex-wrap: wrap;
	}
	#project_list .column {
		width: 100%;
	}
}

.project_detail_area {
	display: none;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1001;
	padding: 0 16px;
	width: 100%;
	height: 100%;
	background-color: rgb(0,32,48);
	background: linear-gradient(150deg, rgba(0,32,48,.8) 0%, rgba(0,32,48,1) 100%);
	box-sizing: border-box;
}
.project_detail_area.active {
	display: flex;
}
.project_detail_area .close {
	display: block;
	position: absolute;
	left: 17px;
	top: 26px;
	width: 26px;
	height: 26px;
}
.project_detail_area .lists {
	width: 100%;
	height: 80vh;
	overflow: hidden;
	border-radius: 6px;
}
.project_detail_area .swiper-container {
	width: 100%;
	height: 86%;
	overflow: visible;
}
.project_detail_area .swiper-container .swiper-slide {
	text-align: center;
	color: #fff;
}
.project_detail_area .swiper-container .swiper-slide:nth-child(1) {
	background: url(../images/img_portfolio_detail_list1.jpg) no-repeat center center;
	background-size: cover;
}
.project_detail_area .swiper-container .swiper-slide:nth-child(2) {
	background: url(../images/img_portfolio_detail_list2.jpg) no-repeat center center;
	background-size: cover;
}
.project_detail_area .swiper-container .swiper-slide:nth-child(3) {
	background: url(../images/img_portfolio_detail_list3.jpg) no-repeat center center;
	background-size: cover;
}
.project_detail_area .swiper-container .swiper-slide:nth-child(4) {
	background: url(../images/img_portfolio_detail_list4.jpg) no-repeat center center;
	background-size: cover;
}
.project_detail_area .swiper-container .swiper-slide .description {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #fff;
}
.project_detail_area .swiper-container .swiper-slide .description p {
	padding: 24px 0;
	line-height: 1.6;
	font-size: 14px;
	font-weight: 300;
	color: #666;
}
.project_detail_area .swiper-container .swiper-slide .description p i {
	font-weight: 500;
	font-style: normal;
}
.project_detail_area .swiper-container .swiper-slide .description .title {
	display: block;
	position: relative;
	padding-bottom: 32px;
	font-size: 18px;
	font-weight: 400;
}
.project_detail_area .swiper-container .swiper-slide .description .title::after {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	top: 34px;
	margin-left: -42px;
	width: 84px;
	height: 3px;
	background-color: #00bdfe;
	border-radius: 2px;
}
.project_detail_area .swiper-container .swiper-slide .description .subject {
	display: block;
	font-weight: 400;
	color: #ccc;
}
.project_detail_area .swiper-container .swiper-pagination-bullets {
	bottom: -35px;
}
.project_detail_area .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 6px;
	width: 7px;
	height: 7px;
	opacity: 1;
	background-color: transparent;
	border: 2px solid #fff;
	box-sizing: border-box;
	border-radius: 4px;
}
.project_detail_area .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
	width: 16px;
	background-color: #fff;
}
.project_detail_area .direction {
	display: block;
	position: absolute;
	bottom: 50px;
	width: 100%;
	text-align: center;
	font-size: 18px;
	color: #00bdfe;
}

@media only screen and (orientation: portrait) {
	.project_detail_area .lists {
		height: 80vh;
	}
	.project_detail_area .swiper-container {
		height: 86%;
	}
	.project_detail_area .swiper-container .swiper-slide .description p {
		padding: 24px 0;
	}
	.project_detail_area .swiper-container .swiper-slide .description .title {
		padding-bottom: 32px;
	}
	.project_detail_area .direction {
		display: block;
	}
}
@media only screen and (orientation: landscape) {
	.project_detail_area .lists {
		height: 68vh;
	}
	.project_detail_area .swiper-container {
		height: 100%;
	}
	.project_detail_area .swiper-container .swiper-slide .description p {
		padding: 16px 0;
	}
	.project_detail_area .swiper-container .swiper-slide .description .title {
		padding-bottom: 24px;
	}
	.project_detail_area .direction {
		display: none;
	}
}

/* step6 contact us */
#contact_us {
	padding: 22px 0 34px;
}
#contact_us .contact_data {
	padding-left: 50px;
}
#contact_us .contact_data .title h2 {
	line-height: 60px;
	font-size: 25px;
	font-weight: 500;
	color: #00bdfe;
}
#contact_us .contact_data .title p {
	font-size: 14px;
	color: #333;
}
#contact_us .contact_data .description {
	margin-top: 35px;
}
#contact_us .contact_data .description li {
	display: table;
	padding-right: 20px;
	width: 100%;
	box-sizing: border-box;
}
#contact_us .contact_data .description li span {
	display: table-cell;
	line-height: 25px;
	font-size: 14px;
	color: #333;
}
#contact_us .contact_data .description li span.label {
	width: 45%;
}
#map {
	margin-top: 35px;
	width: 100%;
	height: 250px;
}
#footer {
	padding: 16px;
	line-height: 1.5;
	text-align: center;
	font-size: 14px;
	color: #999;
}
#footer span {
	color: #00bdfe;
}

@media only screen and (orientation: portrait) {
	#contact_us .contact_data {
		padding-left: 50px;
	}
}
@media only screen and (orientation: landscape) {
	#contact_us .contact_data {
		padding-left: 80px;
	}
	#contact_us .contact_data .description li span.label {
		width: 35%;
	}
}